.top-layer{
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    
}

img{
    width: 27px;
}
.container{
    max-width: 100vw;
    position: relative;
    height: 100vh;
    
    
    
}
.bg-img{
    position: absolute;
    z-index: -11;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    object-fit: fill;
}
*{
    box-sizing: border-box;
}
body{
   
    h1,h2,h3,h4,h5,h6,span,p{
        margin: 0;
        padding: 0;
    }
    padding: 0;
    margin: 0;
    font-family: 'Nunito Sans', sans-serif;
    
}
.city{
    background: rgba(255, 255, 255, 0.2); 
    backdrop-filter: blur(10px); 
    border-radius: 2px;
    outline: none;
    border: none;
    padding: 6px ;
    color: white;
    
}
.search-area{
    display: flex;
    gap: 1px;
    border-radius: 2px;
    margin-top: 5px;
}
.submit-city{
    background: rgba(255, 255, 255, 1);
    backdrop-filter: blur(10px); 
    
    border: none;
    outline: none;
    cursor: pointer;
    padding: 6px 16px;
    color: black;
    font-weight: 500;
}
.hidden{
    display: none;
}
.show-city{
    font-family: 'Nunito Sans', sans-serif;
    font-size: 45px;
    margin-left: -7px;
    
}
.temp{
    font-family: 'Nunito Sans', sans-serif;
    font-size: 45px;
}
.wrapper{
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 13px;
  width: 70%;
    margin:  auto;
    
    overflow-y: scroll;
    

    

}
.temp-high-low{
    display: flex;
    gap: 10px;
    
}
.sunrise{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: rgba(255, 255, 255, 0.2); 
    backdrop-filter: blur(10px);
    border-radius: 13px;
    padding: 13px;
    flex: .25;
   
}
.sunset{
    display: flex;
    flex-direction: column;
    background: rgba(255, 255, 255, 0.2); 
    backdrop-filter: blur(10px); 
    border-radius: 15px;
    padding: 13px;
    min-width: 70px;
    display: flex;
    align-items: center;
    flex: .25;
    
}
.top-layer-left{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.wind{
    display: flex;
    flex-direction: column;
    background: rgba(255, 255, 255, 0.2); 
    backdrop-filter: blur(10px); 
    border-radius: 15px;
    padding: 13px;
    flex: .25;
    align-items: center;
    justify-content: center;
    
    
}
.last-layer{
    display: flex;
    gap: 10px;
    color: white;
    
}
.humidity{
    display: flex;
    flex-direction: column;
    background: rgba(255, 255, 255, 0.2); 
    backdrop-filter: blur(10px); 
    border-radius: 15px;
    padding: 13px;
    flex: .25;
    display: flex;
    align-items: center;
    
}

.forecast-area{
    display: flex;
    background: rgba(255, 255, 255, 0.2); 
    backdrop-filter: blur(10px); 
    border-radius: 10px;
    padding:4px;

    
    text-align: center;
    color: #fff;
    justify-content: flex-start;
    overflow-x: scroll;
}
.temp-area{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.error{
    width: 20vw;
    height: 20vh;
    background: rgba(255, 255, 255, 0.2); 
    backdrop-filter: blur(10px); 
    border-radius: 15px;
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%,-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    button{
        
        padding:8px 20px;
        border: none;
        outline: none;
        background: rgba(160, 157, 157, 0.8); 
        backdrop-filter: blur(10px); 
        border-radius: 5px;
        
        
    }
}
.end{
    display: none;
}

.inner-div{
    display: flex;
    min-width: 80px;
    flex-direction: column;
    gap: 10px;
    padding:3px 5px;
    align-items: center;
}
@media (max-width:600px){
    .wrapper{
        width: 100%;
        
    }
    .second-area{
        width: 100%;
    }
    .top-layer{
        flex-direction: column;
        align-items: center;
        
        
    }
    .temp-area{
        align-items: center;
        margin-top: 7px;
    }
    .temp{
        margin-top: -8px;
    }
    .container{
        margin-top: 0;
        
    }
    .sunrise{
        width: 45%;
        padding: 8px;
    }
    .sunset{
        width: 45%;
        padding: 8px;
    }
    .wind{
        width: 45%;
        padding: 8px;
    }
    .humidity{
        width: 45%;
        padding: 8px;
    }
    .last-layer{
        width: 100%;
        flex-wrap: wrap;
        padding: 0;
        align-items: center;
        justify-content: center;
    }
   

    .inner-div{
        padding: 0;
        height: max-content;
        gap: 10px;
    }
    .show-city{
        
       font-size: 35px;
       margin-bottom: -5px;
    }
   .weather-description{
    display: none;
   }
   .temp-high-low>span{
    font-size: 13px;
    margin-left: 7px;

   }
    .top-layer-left{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .error{
        width: 80%;
        font-size: 12px;
        
    }
    

}
.wrapper::-webkit-scrollbar{
    display: none;
}

.forecast-area::-webkit-scrollbar{
    display: none;
}
@media(max-width:500px){
    
    
    .sunrise{
        min-width: 47%;
        
    }
    .sunset{
        min-width: 47%;
    }
    .wind{
        min-width: 47%;
    }
    .humidity{
        min-width: 47%;
    }
}
@media (max-width:320px){
    .search-area{
        flex-direction: column;
        overflow: hidden;
        input{
max-width: 90vw;
        }
    }

    .sunrise{
        width: 100%;
    }
    .sunset{
        width: 100%;
    }
    .wind{
        width: 100%;
    }
    .humidity{
        width: 100%;
    }
    .submit-city{
        width: 50%;
        align-self: center;
    }
    .last-layer{
        flex-direction: column;
        
    }
    .bg-img{
        height: 130vh;
    }
}
